In [1]:
# Notebook dependencies
import os
import pandas as pd
import numpy as np
from IPython.display import display
from itertools import product as combine
from testing import run_tests

# **Project 1 - Search-based solutions for static Pac-Man game**
**Subject:** MC906/MO416 - Introduction to Artificial Intelligence 

**Authors:**

    Daniel Helú Prestes de Oliveira - RA 166215
    Eduardo Barros Innarelli        - RA 170161
    Matheus Rotta Alves             - RA 184403
    Victor Ferreira Ferrari         - RA 187890
    Vinícius Couto Espindola        - RA 188115

## **Usage**
> TODO List:
- [ ] Imports
- [ ] Description of used libraries.
- [ ] Add AIMA to notebook.
- [ ] ???

In [17]:
import numpy as np
from SearchAgent import SearchAgent

ModuleNotFoundError: No module named 'search'

## **Problem**

> TODO List:
- [X] Problem description 
- [X] Problem modeling
- [X] Search agent (motivation, API)

### **Description**
Consider the Pacman video game. We're given a maze where each position can have one of the following: start (unique), goal (unique), enemy, dots, walls or empty spaces. The pacman will begin the game in the start position and will try to reached the goal position only crossing through empty spaces and dots positions. In the event were pacman reaches outside the map, it's position is "wrapped around" the map, meaning that it will appear on the oposite side of the map maintaining one of it's coodinates.
When compared to the original game, some simplifications were made: 
 - Ghosts do not move during the pacmans search (their initial position is their only position) 
 - Berries were removed from the game, therefore Pacman has no countermeasure against ghosts.

### **Modeling**
 For every move pacman makes, it will pay a cost of 1 point, however, if a dot is found, it will receive a payment of 10 points. The sum of all costs and payments will be considered the score achieve by Pacman when executing a certain path. Also, Pacman can only move one position at a time. 
Based on such maze and restrictions, we must seek the best feasible path for Pacman to reach the goal. In our case, "best" refers to the path in which we achieve the highest score.

**Environment:** Is the maze described by the problem.

**Actuator:** The only action allowed to pacman is to move to a neighbor cel in the maze given the problems restrictions.

**Sensors:** We consider that pacman can "see" the entirety of the given maze.

**Known:** The consquences to the environment given an action are completely predictable.

**Environment Properties:**
 - **Fully observable:** We can see the entire maze.
 - **Deterministic:** The next state is entirely defined by the current state an a possible action on it.
 - **Static:** The only change that occurs within the maze is cause by Pacman himself, the ghosts do not act.
 - **Single Agent:** The only agent within the problem is Pacman.
 - **Observability:** ??
 - **Sequential:** The state of the environment is completely predictable and is only affected by Pacman himself.

 ## **Search Agent**

### **Motivation**
This project consists of different search solutions for the same few problem models, and most methods use the same data structures. In that sense, the logical step to take is to create a shared API for every method, so that the environment is the same for every method, standardizing testing and result analysis. This agent should be able to formulate any of the problem models, change problem variables/properties and provide an API for result analysis.

### **API**
The SearchAgent class can be seen in the next cell:

In [18]:
%psource SearchAgent

No source found for SearchAgent

The SearchAgent lets the user:
\begin{itemize}
\item Find the initial and goal positions of a maze from a standard as seen in the next section;
\item Formulate any of the problem models, given an initial position, a goal position, goal conditions and flags indicating the model to use;
\item Change the maze without changing the problem;
\item Formulate a new problem with the same maze;
\item Use any search method from AIMA and store its return object;
\item Get the solution (sequence of actions or path);
\item Get the solution path;
\item Get the final score from the solution;
\item Visualize the solution in ASCII form, returning a NumPy array with the maze modified with the taken path;
\item Use an animation engine created in _pygame_ to animate the final path.
\end{itemize}

Therefore, it accomplishes its objective of providing a generic environment to run tests and solve the problem.

## **Test Cases**

> TODO List:
- [ ] Maybe show two examples (one dense and it's correspondent sparse)

For testing purposes, we generated 10 mazes using the [tool provided by classmate Gabriel Bomfim](https://gabomfim.github.io/pacman-mazegen/tetris/many.htm) in Google Classrom, which adapts the [maze generator](https://shaunlebron.github.io/pacman-mazegen/) linked in the project description. Each tile is represented by a char, where **|** and **-** are walls, **.** are foods and **o** are ghosts. For each maze, we choosed three start and goal positions, respectively symbolized by **!** and **?**.

As this tool creates mazes fully filled with food, we thought that it would be good for comparision to also test sparse mazes, which we created by randomly removing dots in the dense ones. These variations, together with the originals, give us a total of 60 mazes, stored in `./mazes` directory.

In [2]:
# Getting test files
path = 'mazes/'
sizes = ['dense/','sparse/']
maze = ['1','2','3','4','5','6','7','8','9','10']
pos = ['a','b','c']
test_files = [path+s+i+l for (s,i,l) in list(combine(sizes,maze,pos))]

## **Uninformed Search Methods**
The Uninformed Search Methods, also known as Blind Search Methods, are algorithms that are given no information about the problem other than its definition. They are only able to generate possible successors of a state and analyze these sucessors in a sequence according to the algorithm applied. They analyze each successor created until it finds the goal state. Every state receives the same treatment, and every decision is local according to a method that can only use local information of the problem (if any).

### **Breadth-First Search (BFS) Solution**
###### **Responsible:** Victor

> TODO List:
- [X] Short theoretical introduction
- [ ] Run tests script with and without maze in state
- [ ] Results table 
- [ ] Analysis with relevant(s) animation(s)

Breadth-First Search (BFS) is an Uninformed Search method that visits every state in order of distance from the initial state. So this method expands every successor once it reaches a node, and then visits each one of them in a predetermined order in a queue (FIFO). In the _AIMA_ library, this is done in the order of actions given by the problem.

BFS, for the Pac-Man problem, is a complete method, since the maze is finite and in the **graph** variation the method does not visit the same state twice. This method always gets the shortest path to the goal position, but it is **not** an optimal method for the problem, because not all paths have the same cost, eating more dots will result in better solutions.

Since this method always expands the shallowest node, memory and time can be a big problem, so problems with less successors in each node and/or shallower trees can make a huge difference in these constraints.

### **Depth-First Search Solution**
###### **Responsible:** Daniel

> TODO List:
- [X] Short theoretical introduction
- [ ] Run tests script with and without maze in state
- [ ] Results table 
- [ ] Analysis with relevant(s) animation(s)

The Depth-First Search is an Uninformed Search method that expands its deepest node possible first, the one that has no sucessor. If the node is the goal state, it has found the path to the solution, otherwise it goes back to the most recent ancestor node that still has successor that were not expanded and it expands the deepest sucessor this ancestor node has.

For the Pacman Problem the goal state considered for the problem was the final position that pacman should go. It did not consider analyzing all the possible outcomes of eating the dots to increase it points because the time and memory to consider all possible states would be exponential.

## **Informed Search Methods**

> TODO List:
- [ ] Short theoretical introduction

### **A* Search Solution**
###### **Responsible:** Eduardo

> TODO List:
- [X] Run tests script with and without maze in state
- [X] Results table
- [ ] Analysis with relevant(s) animation(s)

As an informed search algorithm, A\* takes into account information about the path cost together with an heuristic to evaluate which is the most promising path to take when it enters a state. For this evaluation, A\* chooses in state $n$ to proceed to the neighbor that gives the lowest $f(n) = g(n) + h(n)$, $g(n)$ being the exact path cost from starting state to $n$ and $h(n)$ the heuristic estimated cost from $n$ to goal state.

#### **Heuristic**

How fast the agent reaches the goal in A\* depends on the heuristic implemented and how it affects the nodes expansion. Without the maze in state this isn't that much of a concern, as for a $n\times m$ maze there can be up to $O(nm)$ states. It's pretty hard, though, to estimate a good cost to goal without the current configuration knowledge (the combinations of foods can make any estimation over the initial maze very far from optimal). To simplify, we use the **Manhattan distance** as a heuristic for this variation of the problem, which is the distance between the agent and the goal positions measured along axes at right angles (i.e., $|x_1 - x_2| + |y_1 - y_2|$, given that the agent is in $(x_1, y_1)$ and the goal is to reach $(x_2, y_2)$). It's a admissible heuristic as there can't be a shorten path from node to goal.

With maze in state it's specially important to pick a good heuristic - after all, the search space is exponentially large, as each subset of eaten food represents a different node even with the agent in a fixed position. Considering that in this case we have information that allows a more realistic approach, but keeping it simple in terms of code, we implement the sum of Manhattan distances between the agent and all the foods as a heuristic, as it's highly possible that most of them will be eaten in the optimal path. Notice that this sum can overestimate the optimal, because it's not always true that all the foods will be eaten in the best path. As a overestimating heuristic, it breaks admissibility - that is, A\* is not guaranteed to find the optimal path. Even so, as our problem gives a high score to Pac-Man when it eats, we chose it expecting A\* will find good paths in reasonable running times.

In [3]:
from search import manhattan_distance

# Heuristic for problem 1 - without maze in state
def astar_heuristic_p1(node, goal):
    ''' manhattan distance between Pac-Man and goal '''
    
    idx = node.state
    md = manhattan_distance(goal, idx)
    return md

# Heuristic for problem 2 - with maze in state
def astar_heuristic_p2(node):
    ''' sum of manhattan distances between Pac-Man and all foods in maze '''
    
    # Detach maze configuration and Pac-Man position
    tuple_maze, idx = node.state
    
    # Accumulate sum of manhattan distances to foods
    md_sum = 0
    for food_idx in np.argwhere(maze == '.'):
        md_sum += manhattan_distance(food_idx, idx)
            
    return md_sum

#### **Results for problem without maze in state**

In [4]:
from search import astar_search
from IPython.display import display

def astar_pathcost_p1(agent, maze, init, goal, *args):
    ''' triggers A* search and returns path cost '''
    agent.formulate_problem(init, goal, False, False, [b'-', b'|', b'o', b'_'])
    agent.set_heuristic(astar_heuristic_p1, True)
    agent.search(astar_search)
    return -1*agent.get_score()

# Run all tests
dataframes = run_tests(
    test_files, 
    astar_pathcost_p1, 
    [], 
    repeat=100, 
    out_path='data/astar/problem1'
)

for df in dataframes:
    print(f'================ {df.name} ================\n')
    display(df)

#### Starting New Test Routine ####
[============================================================] 100.0% ...mazes/sparse/10c X 100

================ all_data ================

                    type  id class  time_100avg  cost_100avg  fails_100total
mazes/dense/1a     dense   1     a     0.000547          2.0             0.0
mazes/dense/1b     dense   1     b     0.000702          5.0             0.0
mazes/dense/1c     dense   1     c     0.001166         15.0             0.0
mazes/dense/2a     dense   2     a     0.001275         15.0             0.0
mazes/dense/2b     dense   2     b     0.002281         24.0             0.0
mazes/dense/2c     dense   2     c     0.001611         17.0             0.0
mazes/dense/3a     dense   3     a     0.000402          3.0             0.0
mazes/dense/3b     dense   3     b     0.000691          5.0             0.0
mazes/dense/3c     dense   3     c     0.004258          5.0             0.0
mazes/dense/4a     dense   4     a     0.002401         27.0             0.0
mazes/dense/4b     dense   4     b     0.001814         25.0             0.0
mazes/dense/4c     dense   4     c     0.003266          8.0             0.0
mazes/dense/5a     dense   5     a     0.002690         25.0             0.0
mazes/dense/5b     dense   5     b     0.001968         20.0             0.0
mazes/dense/5c     dense   5     c     0.000413         -1.0             0.0
mazes/dense/6a     dense   6     a     0.001513         15.0             0.0
mazes/dense/6b     dense   6     b     0.001469         17.0             0.0
mazes/dense/6c     dense   6     c     0.002307         17.0             0.0
mazes/dense/7a     dense   7     a     0.003246         27.0             0.0
mazes/dense/7b     dense   7     b     0.001570         19.0             0.0
mazes/dense/7c     dense   7     c     0.001253          8.0             0.0
mazes/dense/8a     dense   8     a     0.001253         17.0             0.0
mazes/dense/8b     dense   8     b     0.000928         15.0             0.0
mazes/dense/8c     dense   8     c     0.001600          9.0             0.0
mazes/dense/9a     dense   9     a     0.001558         19.0             0.0
mazes/dense/9b     dense   9     b     0.002138         17.0             0.0
mazes/dense/9c     dense   9     c     0.000544          6.0             0.0
mazes/dense/10a    dense  10     a     0.001005         11.0             0.0
mazes/dense/10b    dense  10     b     0.002215         18.0             0.0
mazes/dense/10c    dense  10     c     0.000909          9.0             0.0
mazes/sparse/1a   sparse   1     a     0.000598          2.0             0.0
mazes/sparse/1b   sparse   1     b     0.000732          5.0             0.0
mazes/sparse/1c   sparse   1     c     0.001109         15.0             0.0
mazes/sparse/2a   sparse   2     a     0.001035         15.0             0.0
mazes/sparse/2b   sparse   2     b     0.002146         24.0             0.0
mazes/sparse/2c   sparse   2     c     0.001523         17.0             0.0
mazes/sparse/3a   sparse   3     a     0.000483          3.0             0.0
mazes/sparse/3b   sparse   3     b     0.000603          5.0             0.0
mazes/sparse/3c   sparse   3     c     0.004201          5.0             0.0
mazes/sparse/4a   sparse   4     a     0.002254         27.0             0.0
mazes/sparse/4b   sparse   4     b     0.001728         25.0             0.0
mazes/sparse/4c   sparse   4     c     0.002814          8.0             0.0
mazes/sparse/5a   sparse   5     a     0.002566         25.0             0.0
mazes/sparse/5b   sparse   5     b     0.001651         20.0             0.0
mazes/sparse/5c   sparse   5     c     0.000534         -1.0             0.0
mazes/sparse/6a   sparse   6     a     0.001419         15.0             0.0
mazes/sparse/6b   sparse   6     b     0.001277         17.0             0.0
mazes/sparse/6c   sparse   6     c     0.002256         17.0             0.0
mazes/sparse/7a   sparse   7     a     0.003119         27.0             0.0
mazes/sparse/7b   sparse   7     b     0.001731         19.0             0.0
mazes/sparse/7c   sparse   7     c     0.001140          8.0             0.0
mazes/sparse/8a   sparse   8     a     0.001437         17.0             0.0
mazes/sparse/8b   sparse   8     b     0.001049         15.0             0.0
mazes/sparse/8c   sparse   8     c     0.001597          9.0             0.0
mazes/sparse/9a   sparse   9     a     0.001613         19.0             0.0
mazes/sparse/9b   sparse   9     b     0.002506         17.0             0.0
mazes/sparse/9c   sparse   9     c     0.000513          6.0             0.0
mazes/sparse/10a  sparse  10     a     0.001017         11.0             0.0
mazes/sparse/10b  sparse  10     b     0.001792         18.0             0.0
mazes/sparse/10c  sparse  10     c     0.001025          9.0             0.0

================ ids_means ================

           time_100avg  cost_100avg  fails_100total
type   id
dense  1      0.000805     7.333333             0.0
       2      0.001723    18.666667             0.0
       3      0.001784     4.333333             0.0
       4      0.002494    20.000000             0.0
       5      0.001690    14.666667             0.0
       6      0.001763    16.333333             0.0
       7      0.002023    18.000000             0.0
       8      0.001260    13.666667             0.0
       9      0.001413    14.000000             0.0
       10     0.001376    12.666667             0.0
sparse 1      0.000813     7.333333             0.0
       2      0.001568    18.666667             0.0
       3      0.001762     4.333333             0.0
       4      0.002265    20.000000             0.0
       5      0.001584    14.666667             0.0
       6      0.001651    16.333333             0.0
       7      0.001997    18.000000             0.0
       8      0.001361    13.666667             0.0
       9      0.001544    14.000000             0.0
       10     0.001278    12.666667             0.0

================ ids_max ================

           time_100avg  cost_100avg  fails_100total
type   id
dense  1      0.001166         15.0             0.0
       2      0.002281         24.0             0.0
       3      0.004258          5.0             0.0
       4      0.003266         27.0             0.0
       5      0.002690         25.0             0.0
       6      0.002307         17.0             0.0
       7      0.003246         27.0             0.0
       8      0.001600         17.0             0.0
       9      0.002138         19.0             0.0
       10     0.002215         18.0             0.0
sparse 1      0.001109         15.0             0.0
       2      0.002146         24.0             0.0
       3      0.004201          5.0             0.0
       4      0.002814         27.0             0.0
       5      0.002566         25.0             0.0
       6      0.002256         17.0             0.0
       7      0.003119         27.0             0.0
       8      0.001597         17.0             0.0
       9      0.002506         19.0             0.0
       10     0.001792         18.0             0.0

================ ids_min ================

           time_100avg  cost_100avg  fails_100total
type   id
dense  1      0.000547          2.0             0.0
       2      0.001275         15.0             0.0
       3      0.000402          3.0             0.0
       4      0.001814          8.0             0.0
       5      0.000413         -1.0             0.0
       6      0.001469         15.0             0.0
       7      0.001253          8.0             0.0
       8      0.000928          9.0             0.0
       9      0.000544          6.0             0.0
       10     0.000909          9.0             0.0
sparse 1      0.000598          2.0             0.0
       2      0.001035         15.0             0.0
       3      0.000483          3.0             0.0
       4      0.001728          8.0             0.0
       5      0.000534         -1.0             0.0
       6      0.001277         15.0             0.0
       7      0.001140          8.0             0.0
       8      0.001049          9.0             0.0
       9      0.000513          6.0             0.0
       10     0.001017          9.0             0.0

================ types_mean ================

        time_100avg  cost_100avg  fails_100total
type
dense      0.001633    13.966667             0.0
sparse     0.001582    13.966667             0.0

================ types_max ================

        id  time_100avg  cost_100avg  fails_100total
type
dense   10     0.004258         27.0             0.0
sparse  10     0.004201         27.0             0.0

================ types_min ================

        id  time_100avg  cost_100avg  fails_100total
type
dense    1     0.000402         -1.0             0.0
sparse   1     0.000483         -1.0             0.0

#### **Results for problem with maze in state**

In [5]:
def astar_pathcost_p2(agent, maze, init, goal, *args):
    ''' triggers A* search and returns path cost '''
    agent.formulate_problem(init, goal, True, False, [b'-', b'|', b'o', b'_'])
    agent.set_heuristic(astar_heuristic_p2, False)
    agent.search(astar_search)
    return -1*agent.get_score()

# Run all tests, 
dataframes = run_tests(
        test_files, 
        astar_pathcost_p2, 
        [], 
        repeat=100, 
        out_path='data/astar/problem2'
        )

for df in dataframes:
    print(f'================ {df.name} ================\n')
    display(df)

#### Starting New Test Routine ####
[============================================================] 100.0% ...mazes/sparse/10c X 100

                    type  id class  time_100avg  cost_100avg  fails_100total
mazes/dense/1a     dense   1     a     0.092422       -699.0             0.0
mazes/dense/1b     dense   1     b     0.362104      -1684.0             0.0
mazes/dense/1c     dense   1     c     0.129554       -783.0             0.0
mazes/dense/2a     dense   2     a     0.515533      -1610.0             0.0
mazes/dense/2b     dense   2     b     0.083073       -756.0             0.0
mazes/dense/2c     dense   2     c     0.326362      -1170.0             0.0
mazes/dense/3a     dense   3     a     0.031396       -223.0             0.0
mazes/dense/3b     dense   3     b     0.039664       -408.0             0.0
mazes/dense/3c     dense   3     c     0.201212      -1109.0             0.0
mazes/dense/4a     dense   4     a     0.162557      -1126.0             0.0
mazes/dense/4b     dense   4     b     0.130224       -931.0             0.0
mazes/dense/4c     dense   4     c     0.034420       -385.0             0.0
mazes/dense/5a     dense   5     a     0.316421      -1769.0             0.0
mazes/dense/5b     dense   5     b     0.029865       -318.0             0.0
mazes/dense/5c     dense   5     c     0.184271      -1409.0             0.0
mazes/dense/6a     dense   6     a     0.558786      -1817.0             0.0
mazes/dense/6b     dense   6     b     0.310317      -1619.0             0.0
mazes/dense/6c     dense   6     c     0.118374       -903.0             0.0
mazes/dense/7a     dense   7     a     0.578019      -1797.0             0.0
mazes/dense/7b     dense   7     b     0.066045       -664.0             0.0
mazes/dense/7c     dense   7     c     0.137645       -737.0             0.0
mazes/dense/8a     dense   8     a     0.103441       -886.0             0.0
mazes/dense/8b     dense   8     b     0.202789      -1152.0             0.0
mazes/dense/8c     dense   8     c     0.338794      -1675.0             0.0
mazes/dense/9a     dense   9     a     0.173608      -1470.0             0.0
mazes/dense/9b     dense   9     b     0.627444      -1731.0             0.0
mazes/dense/9c     dense   9     c     0.337540      -1714.0             0.0
mazes/dense/10a    dense  10     a     0.168644       -844.0             0.0
mazes/dense/10b    dense  10     b     0.140572       -797.0             0.0
mazes/dense/10c    dense  10     c     0.429537      -1801.0             0.0
mazes/sparse/1a   sparse   1     a     0.064793       -166.0             0.0
mazes/sparse/1b   sparse   1     b     0.128197       -230.0             0.0
mazes/sparse/1c   sparse   1     c     0.476163       -416.0             0.0
mazes/sparse/2a   sparse   2     a     0.444955       -412.0             0.0
mazes/sparse/2b   sparse   2     b     0.386864       -291.0             0.0
mazes/sparse/2c   sparse   2     c     0.107802       -162.0             0.0
mazes/sparse/3a   sparse   3     a     0.331256       -307.0             0.0
mazes/sparse/3b   sparse   3     b     0.219899       -287.0             0.0
mazes/sparse/3c   sparse   3     c     0.149932       -222.0             0.0
mazes/sparse/4a   sparse   4     a     0.163969       -188.0             0.0
mazes/sparse/4b   sparse   4     b     0.455836       -292.0             0.0
mazes/sparse/4c   sparse   4     c     1.379487       -302.0             0.0
mazes/sparse/5a   sparse   5     a     0.109212       -119.0             0.0
mazes/sparse/5b   sparse   5     b     0.107690       -130.0             0.0
mazes/sparse/5c   sparse   5     c     0.079540       -109.0             0.0
mazes/sparse/6a   sparse   6     a     0.339116       -248.0             0.0
mazes/sparse/6b   sparse   6     b     0.178887       -138.0             0.0
mazes/sparse/6c   sparse   6     c     0.760376       -318.0             0.0
mazes/sparse/7a   sparse   7     a     0.474853       -260.0             0.0
mazes/sparse/7b   sparse   7     b     0.079861       -218.0             0.0
mazes/sparse/7c   sparse   7     c     0.246523       -238.0             0.0
mazes/sparse/8a   sparse   8     a     0.263787       -257.0             0.0
mazes/sparse/8b   sparse   8     b     0.184870       -201.0             0.0
mazes/sparse/8c   sparse   8     c     0.457618       -425.0             0.0
mazes/sparse/9a   sparse   9     a     0.037074        -98.0             0.0
mazes/sparse/9b   sparse   9     b     0.139230       -164.0             0.0
mazes/sparse/9c   sparse   9     c     0.156904       -164.0             0.0
mazes/sparse/10a  sparse  10     a     0.187347       -162.0             0.0
mazes/sparse/10b  sparse  10     b     0.282093       -278.0             0.0
mazes/sparse/10c  sparse  10     c     0.552071       -337.0             0.0

           time_100avg  cost_100avg  fails_100total
type   id
dense  1      0.194693 -1055.333333             0.0
       2      0.308323 -1178.666667             0.0
       3      0.090758  -580.000000             0.0
       4      0.109067  -814.000000             0.0
       5      0.176852 -1165.333333             0.0
       6      0.329159 -1446.333333             0.0
       7      0.260570 -1066.000000             0.0
       8      0.215008 -1237.666667             0.0
       9      0.379531 -1638.333333             0.0
       10     0.246251 -1147.333333             0.0
sparse 1      0.223051  -270.666667             0.0
       2      0.313207  -288.333333             0.0
       3      0.233696  -272.000000             0.0
       4      0.666431  -260.666667             0.0
       5      0.098814  -119.333333             0.0
       6      0.426127  -234.666667             0.0
       7      0.267079  -238.666667             0.0
       8      0.302092  -294.333333             0.0
       9      0.111069  -142.000000             0.0
       10     0.340504  -259.000000             0.0

           time_100avg  cost_100avg  fails_100total
type   id
dense  1      0.362104       -699.0             0.0
       2      0.515533       -756.0             0.0
       3      0.201212       -223.0             0.0
       4      0.162557       -385.0             0.0
       5      0.316421       -318.0             0.0
       6      0.558786       -903.0             0.0
       7      0.578019       -664.0             0.0
       8      0.338794       -886.0             0.0
       9      0.627444      -1470.0             0.0
       10     0.429537       -797.0             0.0
sparse 1      0.476163       -166.0             0.0
       2      0.444955       -162.0             0.0
       3      0.331256       -222.0             0.0
       4      1.379487       -188.0             0.0
       5      0.109212       -109.0             0.0
       6      0.760376       -138.0             0.0
       7      0.474853       -218.0             0.0
       8      0.457618       -201.0             0.0
       9      0.156904        -98.0             0.0
       10     0.552071       -162.0             0.0

           time_100avg  cost_100avg  fails_100total
type   id
dense  1      0.092422      -1684.0             0.0
       2      0.083073      -1610.0             0.0
       3      0.031396      -1109.0             0.0
       4      0.034420      -1126.0             0.0
       5      0.029865      -1769.0             0.0
       6      0.118374      -1817.0             0.0
       7      0.066045      -1797.0             0.0
       8      0.103441      -1675.0             0.0
       9      0.173608      -1731.0             0.0
       10     0.140572      -1801.0             0.0
sparse 1      0.064793       -416.0             0.0
       2      0.107802       -412.0             0.0
       3      0.149932       -307.0             0.0
       4      0.163969       -302.0             0.0
       5      0.079540       -130.0             0.0
       6      0.178887       -318.0             0.0
       7      0.079861       -260.0             0.0
       8      0.184870       -425.0             0.0
       9      0.037074       -164.0             0.0
       10     0.187347       -337.0             0.0

        time_100avg  cost_100avg  fails_100total
type
dense      0.231021 -1132.900000             0.0
sparse     0.298207  -237.966667             0.0

        id  time_100avg  cost_100avg  fails_100total
type
dense   10     0.627444       -223.0             0.0
sparse  10     1.379487        -98.0             0.0

        id  time_100avg  cost_100avg  fails_100total
type
dense    1     0.029865      -1817.0             0.0
sparse   1     0.037074       -425.0             0.0

### **? Search Solution**
###### **Responsible:** Matheus

> TODO List:
- [ ] Short theoretical introduction
- [ ] Heuristics choosen for each problem variation
- [ ] Run tests script with and without maze in state
- [ ] Results table
- [ ] Analysis with relevant(s) animation(s)

## **Local Search Methods**
Local search is one of many heuristic based methods for optmization problems. They work by exploring the search space taking its huristic in consideration, the solution is given by memorizing the positions visited when executing such exploration. Usually, the search is done on feasible solutions, but in our case the search is used in a manner which it helps us find the feasible solution by iterating throught several intermediate states.

### **Simulated Annealing Solution**
###### **Responsible:** Vinicius
Simulated Annealing resembles Hillclibing, but it enchances it to avoid local optimums. It does so by allowing steps which contracdict the huristics decision: in hillclimbing we always take the best local decision hoping it will lead us to a global optimum, in simulated annealing we allow (with a probability which decreases over time) the search to take locally worst steps hoping it will allow us to scape local optimums.

#### **Heuristics**
We choose three heuristics to be used with this method: path cost, euclidean distance and manhatam distance.

**Path Cost:** As mentioned, the problem consists of finding the path which minimizes the cost to reach the goal. In this heuristic we use the mentioned cost as the qualifier to the state. If the cost in a certain state is smaller than the other, then this heuristic dictates that it is a better state. Due to how the annealing method is implemented in AIMA, this heuristic requires the cost from the starting state to the current state to be kept as part of the current state.

**Euclidean Distance:** it consists of calculating the euclidean distance of a position to the goal. We calculate the diference between the distance from the current position and the distance from the next state. If the distance on the next state is smalller the current state, then the next state is a better position.

**Manhatam Distance:** in this case we'll also use the diference between distances to the goal as a heuristic, but the manhatam distance is caluclated using the horizontal and vertical distance (|Xa - Xb| + |Yz - Yb|). Then the same as before applies: smaller the distance to the goal, better the state.

To use the Path Cost heuristic we must keep the state cost as part of the state it self, so the PacProblemCarryCost was used to test this heuristic. The remaining heuristics only requires the coordinates of the current position and the goal position, so the PacProblemNoMaze was used for a lightweight memory approach.


> TODO List:
- [ ] Run tests script with and without maze in state
- [ ] Results table
- [ ] Analysis with relevant(s) animation(s)

## **Comparisions**

> TODO List:
- [ ] Compare methods and problems
- [ ] Maybe display a graph comparing scores
- [ ] Maybe animate one maze with all methods running (different colors to distinguish agents)